# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Git
.git
.gitignore

# Environment files
.env.local
.env*.local

# Debug logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
*.pem

# Testing
coverage
.nyc_output

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Misc
README.md
.eslintcache
.prettierignore
